<div class="____sidebar">
  <div class="__logo">ABCD</div>
  <div class="__menu">
    <wts-scroll #customScrollBar [options]="options">
      <div #wtsScrollContainer>
        <ul>

          <li>
            <a matRipple [routerLink]="['/admin/dashboard']" routerLinkActive="active">
              <div class="__icon"></div>
              <span>Dashboard</span>
            </a>
          </li>

          <li>
            <a matRipple [dropdown]="dropdownMenu">
              <div class="__icon"></div>
              <span>User Management</span>
            </a>
            <div class="dropdown" #dropdownMenu style="display: none;">
              <ul>
                <li>
                  <a matRipple>
                    <span>Admin User Management</span>
                  </a>
                </li>
                <li>
                  <a matRipple>
                    <span>Role Management</span>
                  </a>
                </li>
              </ul>
            </div>
          </li>

          <li>
            <a matRipple [routerLink]="['/admin/cms']" routerLinkActive="active">
              <div class="__icon"></div>
              <span>CMS Management</span>
            </a>
          </li>

          @for (item of [1,2,3,4,5,6,7,78,8,19, 1,2,3,4,5,6,7,78,8,19]; track $index) {
          <li>
            <a matRipple>
              <div class="__icon"></div>
              <span>User Management</span>
            </a>
          </li>
          <li>
            <a matRipple>
              <div class="__icon"></div>
              <span>Settings</span>
            </a>
          </li>
          <li>
            <a matRipple (click)="logout()">
              <div class="__icon"></div>
              <span>Logout</span>
            </a>
          </li>
          }
        </ul>
      </div>
    </wts-scroll>
  </div>
</div>
