.innerBanner{
    padding-top: 30px;
    .innerBanner_inner {
        padding: 100px 0;
        position: relative;
        z-index: 1;

        @media (max-width: 991px) {
            padding: 80px 0;
        }

        @media (max-width: 767px) {
            padding: 60px 0;
        }
    
        &::before {
            position: absolute;
            content: "";
            left: 0;
            top: 0;
            height: 100%;
            width: 100%;
            background: rgba(0, 0, 0, .6);
            z-index: -1;                                                                                                                 
        }
    
        h1 {
            font-size: 55px;
            color: var(--white);
            text-align: center;

            @media (max-width: 991px) {
                font-size: 43px;
            }
            @media (max-width: 767px) {
                font-size: 40px;
            }
        }
    }
}