<div class="profileRightCmn">
    <h2>Security</h2>
    <div class="row changePassword_row gy-2">
        <div class="col-lg-6 changePassword_col">
            <div class="pass_input">
                <mat-form-field class="authForm_field" appearance="outline">
                    <mat-label>Old Password</mat-label>
                    <input matInput placeholder="Old Password" [type]="TypeIndicators.password ? 'password' : 'text'">
                </mat-form-field>
                <a href="javascript:void(0)" class="pass_eye" (click)="changePasswordType('password')">
                    <img [src]="TypeIndicators.password ? 'assets/images/eye.svg' : 'assets/images/eye-slash.svg' "
                        alt="">
                </a>
            </div>
        </div>
        <div class="col-lg-6 changePassword_col">
            <div class="pass_input">

                <mat-form-field class="authForm_field" appearance="outline">
                    <mat-label>New Password</mat-label>
                    <input matInput placeholder="New Password"
                        [type]="TypeIndicators.confirmPassword ? 'password' : 'text'">
                </mat-form-field>
                <a href="javascript:void(0)" class="pass_eye" (click)="changePasswordType('confirmPassword')">
                    <img [src]="TypeIndicators.confirmPassword ? '../../../assets/images/eye.svg' : '../../../assets/images/eye-slash.svg' "
                        alt="">
                </a>
            </div>
        </div>
        <div class="col-lg-12 changePassword_col">
            <div class="authSubmit_btn">
                <button type="submit" class="cmn_btn">Save</button>
              </div>
        </div>
    </div>

</div>