<div class="contactBanner">
    <div class="container">
        <div class="contactBanner_inner"
            style="background: url(assets/images/home-banner.jpg) no-repeat center center; background-size: cover;">
            <div class="row contactBanner_row">
                <div class="col-lg-5 contactBanner_col">
                    <div class="contactBanner_appoinment">
                        <h3>Contact Us</h3>
    
                        <div class="contactBanner_details">
                            <div class="contactBanner_details_each">
                                <p class="contactBanner_details_label"><b>Phone:</b></p>
                                <a href="tel:+11234567890">123-457-7890</a>
                            </div>
                            <div class="contactBanner_details_each">
                                <p class="contactBanner_details_label"><b>Email:</b></p>
                                <a href="mailto:contact@mmsonline.com">contact&#64;mmsonline.com</a>
                            </div>
                            <div class="contactBanner_details_each">
                                <p class="contactBanner_details_label"><b>Address:</b></p> 
                                <p>Address Line 1</p>
                                <p>Address Line 2</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-7 contactBanner_col">
                    <div class="contactBanner_info">
                        <h2>Now available 24 hours a <br> day, seven days a week.</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="homeContact cmn_gap pt-0">
    <div class="container">
      <div class="homeContact_inner">
        <div class="cmn_head">
          <h2>Contact Us</h2>
          <p>
            Complete the form below if you need any help or <br> if you have any questions and someone on our team will
            get back to you.
          </p>
        </div>
        <div class="homeContact_form_wrap">
          <form class="homeContact_form">
            <div class="row homeContactForm_row">
              <div class="col-lg-6 homeContactForm_col">
                <mat-form-field class="homeContactForm_field" appearance="outline">
                  <mat-label>First Name</mat-label>
                  <input matInput placeholder="First Name">
                </mat-form-field>
              </div>
              <div class="col-lg-6 homeContactForm_col">
                <mat-form-field class="homeContactForm_field" appearance="outline">
                  <mat-label>Last Name</mat-label>
                  <input matInput placeholder="Last Name">
                </mat-form-field>
              </div>
              <div class="col-lg-12 homeContactForm_col">
                <mat-form-field class="homeContactForm_field" appearance="outline">
                  <mat-label>Email</mat-label>
                  <input matInput placeholder="Email">
                </mat-form-field>
              </div>
              <div class="col-lg-12 homeContactForm_col">
                <mat-form-field class="homeContactForm_field" appearance="outline">
                  <mat-label>Message</mat-label>
                  <textarea matInput placeholder="Message"></textarea>
                </mat-form-field>
              </div>
              <div class="col-lg-12 homeContactForm_col">
                <div class="homeContact_submitWrap">
                  <button type="submit" class="cmn_btn">Submit</button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>