<h2>About</h2>

<div class="__form">
  <div class="__input">
    <label>Title</label>
    <input type="text" placeholder="Title">
  </div>
  <div class="__input">
    <label>Description</label>
    <!-- <quill-editor [styles]="{'min-height': '150px', backgroundColor: '#fff', width: '100%'}" style="display: flex; flex-direction: column;"> -->
      <!-- <div quill-editor-toolbar>
        <span class="ql-formats">
          <button class="ql-bold" [title]="'Bold'"></button>
        </span>
        <span class="ql-formats">
          <select class="ql-align" [title]="'Aligment'">
            <option selected></option>
            <option value="center"></option>
            <option value="right"></option>
            <option value="justify"></option>
          </select>
          <select class="ql-align" [title]="'Aligment2'">
            <option selected></option>
            <option value="center"></option>
            <option value="right"></option>
            <option value="justify"></option>
          </select>
        </span>
      </div> -->
    <!-- </quill-editor> -->
    <!-- <textarea placeholder="Description" #editor id="editor"></textarea> -->
  </div>

  <button (click)="updateParam()">Update Param</button>
</div>
