<app-inner-banner [innerBannerHeading]="'About Us'"
    innerBannerImage="'assets/images/services-banner.jpg'"></app-inner-banner>

<div class="aboutInfo cmn_gap">
    <div class="container">
        <div class="aboutInfo_inner">
            <div class="cmn_head">
                <h2>About MMS</h2>
                <p>
                    At MMS®, we are the mobile preventive maintenance pros. Besides our Full Service Oil Change and its
                    16
                    preventive maintenance check points, we offer the following range of additional services that may be
                    fc
                </p>
            </div>


            <ul class="aboutServiceList">
                <li>
                    Oil Change Services (Primary Service)
                </li>
                <li>
                    Brake Services
                </li>
                <li>
                    Battery Services
                </li>
                <li>
                    Cooling System Repair Services
                </li>
                <li>
                    Transmission Fluid Services
                </li>
                <li>
                    Windshield Services
                </li>
                <li>
                    Clutch / Cylinder Services
                </li>
                <li>
                    Starting / Charging Services
                </li>
                <li>
                    Car Inspection Services
                </li>
                <li>
                    Air Conditioning Services
                </li>
                <li>
                    Fluid Exchange Services
                </li>
                <li>
                    Headlight Services
                </li>
                <li>
                    Filter Services
                </li>
                <li>
                    Tire Services
                </li>
                <li>
                    Car Wash Services
                </li>
                <li>
                    Power Steering Services
                </li>
            </ul>
            <p>
                If you need help with other issues, feel free to call or e-mail us to see if we can help. If we arrive
                and find out that your issue requires service that can't be done on site, we can even make sure your car
                gets to a shop.
            </p>
        </div>
    </div>
</div>