.servicesList{
    .servicesList_inner{
        .servicesList_row{
            margin: 0 -15px -30px;
            .servicesList_col{
                padding: 0 15px;
                margin-bottom: 30px;
            }
        }
    }
}