.___main {
  display: flex;
  height: 100%;
  overflow: hidden;

  .___sidebar {
    width: var(--sidebarWidth);
    height: calc(100% - var(--headerHeight));
    overflow: hidden;
  }

  .___body {
    width: calc(100% - var(--sidebarWidth));

    .___body__content {
      height: calc(100% - (var(--headerHeight) + var(--footerHeight)));
      max-height: calc(100% - (var(--headerHeight) + var(--footerHeight)));
      width: 100%;
      position: relative;
      background-color: rgb(203, 203, 203);

      ::ng-deep {
        .___wts_scroll {
          --scrollPannelYBorderWidth: 0;
          --scrollHandleYWidth: 0px;
          --scrollHandleXHeight: 0px;
          --scrollPannelYBackground: transparent;
        }
      }

      ._space {
        padding: 0 15px;
      }
    }
  }
}

.___header {
  height: var(--headerHeight);
}

.___footer {
  height: var(--footerHeight);
  width: 100%;
}
